/* add custom styles */

body {
  padding-top: 70px;
}

footer {
  margin: 50px 0;
}

#analytics-percent {
  position: fixed;
  top: 50px;
  left: 0;
  width: 60px;
  z-index: 1;
}
#analytics-time {
  position: fixed;
  top: 85px;
  left: 0;
  width: 60px;
  z-index: 1;
}
.stopwatch {
  position: fixed;
  left: 0;
  top: 120px;
  width: 60px;
  z-index: 1;
}
.img {
  width: 20px;
  height: 20px;
}
#box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  z-index: 5000;
  top: 0;
  left: 0;
}
